.row {
  display: flex;
  flex-direction: column; 

  &__medium-4 {
    flex: 1;
  }

  &__medium-8 {
    flex: 1
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem; 
  }

  &--t-padding {
    padding-top: 80px; 
  }

  @mixin atMedium {
    flex-direction: row; 

    &__b-margin-until-medium {
      margin-bottom: 0; 
    }

    
    
    &--gutters > div {
      margin-right: 65px; 

      &-large {
        margin-right: 100px; 
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &--gutters-large > div {
      padding-right: 100px;  

      &:last-child {
        padding-right: 0;
      }
    }

    &--gutters-small  > div {
      margin-right: 45px; 

      &:last-child {
        margin-right: 0; 
      }
    } 

    &__medium-4 {
      flex: 4;
    }

    &__medium-4--larger {
      flex: 5;
    }
  
    &__medium-8 {
      flex: 8;
    }

    &__medium-8--smaller {
      flex: 7;
    }
  }
  
}