.site-footer {
  background-color: $mainBlue;
  color: #fff;
  padding: .5rem 0;
  text-align: center; 

  &__content {
    display: flex; 
    flex-direction: column; 
    font-weight: 200; 

    a {
      margin-top: 1rem;
      align-self: center;
    }

    @mixin atMedium {
      flex-direction: row; 
      justify-content: center;
      align-items: center;

      a {
        margin-top: 0;
        margin-left: 3rem;
      }
    }
  }
}